body,
html {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*START OF HEADER*/

header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlink {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#current-page-link {
    color: #478ac9;
}

.navlink:hover {
    color: #ee57dc;
}

/*END OF HEADER*/

/*START OF FONT STYLES*/
/*Individual font styles are in the relevant sections*/

.large-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    line-height: 1.1;
    font-weight: 700;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 700;
}

.small-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.bold-paragraph {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 700;
}

button {
    text-transform: uppercase;
}

/*END OF FONT STYLES*/

/* START OF MEMBERSHIP SECTION*/

#memberships {
    background-image: url(images/girl-training-with-dumbbells.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    border: solid 0.1px #478ac9;
}

/* START OF MEMBERSHIP SECTION*/

#memberships-title {
    color: white;
    margin: 197px 508px 0 160px;
    min-width: 400px;
}

#price {
    color: #f1a40e;
}

#memberships-paragraph {
    color: white;
    margin: 60px 608px 0 160px;
    min-width: 400px;
}

#memberships-button {
    margin: 60px auto 260px 160px;
}

.join-now-button {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    background-color: #f1a40e;
    border: none;
    letter-spacing: 1px;
    padding: 15px 60px;
    border-radius: 50px;
}

.join-now-button:hover {
    background-color: #ee57dc;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

/* START OF MEMBERSHIP SECTION*/

/*START OF HORIZONTAL IMAGES SECTION*/

#horizontal-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 160px;
}

.zoom-image {
    height: 450px;
    margin: 0 5px;
    overflow: hidden;
    /* border: solid 2px orange; */
}

.zoom-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.zoom-image img:hover {
    transform: scale(1.1);
}


#red_phone_position img {
    object-position: -430px 0px;
}

#pink_rope_position img {
    object-position: -400px 0px;
}

#yellow_rope_position img {
    object-position: -430px 0px;
}

/*END OF HORIZONTAL IMAGES SECTION*/

/*START OF START RUNNING SECTION*/

#start-running {
    margin: 120px 160px 0 160px;
}

#start-running-image-text {
    display: flex;
    align-items: center;
    /* border: solid 2px blue; */
}

#start-running-image img {
    width: 180px;
    height: 200px;
    object-fit: cover;
    object-position: right;
    margin-right: 30px;
    /* border: solid 2px red; */
}

#start-running-title {
    font-size: 48px;
}

#start-running-text-boxes {
    display: flex;
}

#start-running-paragraph {
    width: 100%;
    height: auto;
}

#start-running-grey-box {
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    padding: 40px;
}

#start-running-paragraph {
    font-size: 24px;
    font-weight: 400;
    line-height: 2.2;
    padding: 40px 40px 40px 0px;
}

#start-running-bold-paragraph {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

#orange-bullet {
    color: #f1a40e;
}

/*END OF START RUNNING SECTION*/

/*START OF FEATURES SECTION*/

#features {
    background-image: url(images/red_phone.jpg);
    background-size: cover;
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    border: solid 0.1px #fd4552;
}

.feature-boxes {
    margin: 120px 240px 90px 160px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.feature-box {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 30px;
    width: 280px;
    height: auto;
    margin-right: 30px;
    margin-bottom: 30px;
}

.feature-title-icon {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
    margin-bottom: 30px;
}

.feature-icon {
    color: white;
    width: auto;
}

.feature-icon img {
    width: 64px;
    height: auto;
}

.feature-paragraph {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    ;
}

.button-more {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    border: none;
    letter-spacing: 2px;
    padding: 15px 50px;
    border-radius: 50px;
}

.button-more:hover {
    color: #f1a40e;
    cursor: pointer;
    transition: 0.3s;
}

/*END OF FEATURES SECTION*/

/*START OF CLUBS & EVENTS SECTION*/

#clubs-events {
    width: 100%;
    height: 50%;
    background-color: #ee57dc;
    align-content: center;
}

#clubs-events-text {
    margin: 0px 160px;
}

#clubs-small-title {
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
}

#clubs-title {
    text-transform: capitalize;
    color: white;
    margin-bottom: 20px;
}

/*END OF CLUBS & EVENTS SECTION*/

/*START OF CLASSES SECTION*/

#classes {
    margin: 80px 160px;
    height: 60%;
    display: flex;
}

#classes-image {
    width: 50%;
    height: 100%;
}

#classes-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -180px 0px;
}

#classes-text {
    width: 50%;
    margin-left: 30px;
    display: inline-block;
    align-content: center;
}

.classes-paragraph {
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

#classes-button {
    margin-bottom: 40px;
}

/*END OF CLASSES SECTION*/

/*START OF STRETCH IMAGE SECTION*/

#stretch-image {
    background-image: url(images/blue_stretch.jpg);
    background-size: 100%;
    object-fit: fill;
    height: 60%;
    width: auto;
    background-position: 0px -200px;
    background-repeat: no-repeat;
    display: inline-block;
    justify-items: flex-end;
    padding: 80px 160px;
}

.stretch-image-text {
    width: 45%;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 30px;

}

.stretch-image-text img {
    width: 64px;
    height: auto;
}

/*END OF STRETCH IMAGE SECTION*/

/*START OF MEMBERSHIPS 2 SECTION*/

#memberships2 {
    margin: 80px 160px;
    height: 60%;
    display: flex;
}

#memberships2-image {
    width: 50%;
    height: 100%;
}

#memberships2-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0px 0px;
}

#memberships2-text {
    width: 50%;
    display: inline-block;
    align-content: center;
    padding: 50px 20px;
}

.memberships2-paragraph {
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

#memberships2-button {
    margin-bottom: 40px;
}

#price2 {
    color: #ee57dc
}

/*END OF MEMBERSHIPS 2 SECTION*/

/*START OF BENEFITS SECTION*/

#benefits {
    width: 100%;
    height: 50%;
    background-image: url(images/pink_weights.jpg);
    background-size: 100%;
    background-position: 0px -100px;
    display: inline-block;
    align-content: center;
}

#benefits-title {
    color: white;
    margin: 30px 160px;
}

#benefits-button {
    margin: 0px 160px;
}

/*END OF BENEFITS SECTION*/

/*START OF JOIN NOW SECTION*/

#join-now {
    width: 100%;
    height: 75%;
    background-image: url(images/close-up-woman-training.jpg);
    display: inline-block;
    align-content: center;
}

#join-form {
    width: 40%;
    margin-left: 160px;
}

#join-us-title {
    color: white;
    margin-bottom: 30px;
}

#join-us-paragraph {
    color: white;
    margin-bottom: 30px;
}

.join-now-email {
    margin-bottom: 30px;
    width: 450px;
    padding: 15px 10px;
    border-radius: 50px;
    border-color: #b3b3b3;
    border-width: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.submit-button {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    background-color: #ee57dc;
    color: white;
    border: none;
    letter-spacing: 1px;
    padding: 15px 10px;
    width: 470px;
    border-radius: 50px;
}

.submit-button:hover {
    background-color: #f8b9f1;
    color: #ee57dc;
    cursor: pointer;
    transition: 0.3s;
}
/*END OF JOIN NOW SECTION*/


/*END OF CONTENT*/